.numInput{
    width: 143px!important;
}

.img_wrp {
    display: inline-block;
    position: relative;
}
.img_close {
    position: absolute;
    top: -12px;
    right:-12px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.mask_mdoal {
    display:    none;
    position:   fixed;
    z-index:    20000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .5 )
    url('../img/loading.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .mask_mdoal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .mask_mdoal {
    display: block;
}

.msg-container {
    left: 50%;
    top: 50px;
    position:fixed;
    z-index: 10000;
    transform: translate(-50%, 0);
}