*, *::after, *::before {
    box-sizing: border-box;
  }
  
  [v-cloak] {
    display: none;
  }
  
  
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  .app {
    width: 90vw;
    box-shadow: 0 0.7em 1em rgba(0, 0, 0, 0.2);
    font-weight: 300;
    width: 95vw;
  }
  @media (min-width: 1500px) {
    .app {
     
    }
  }
  
  .image-hotspot {
    position: relative;
    padding-top: 56.3%;
    overflow: hidden;
  }
  .image-hotspot.is-selected > img {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transition: all .5s 1s;
    transition: all .5s 1s;
  }
  .image-hotspot > img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  
  .hotspot-point {
    z-index: 2;
    position: absolute;
    display: block;
  }
  .hotspot-point span {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1.8em;
    height: 1.8em;
    background: #cf00f1;
    border-radius: 50%;
    -webkit-animation: pulse 3s ease infinite;
            animation: pulse 3s ease infinite;
    -webkit-transition: background .3s;
    transition: background .3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .hotspot-point span:after {
    content: attr(data-price);
    position: absolute;
    bottom: 130%;
    left: 50%;
    color: white;
    text-shadow: 0 1px black;
    font-weight: 600;
    font-size: 1.2em;
    opacity: 0;
    -webkit-transform: translate(-50%, 10%) scale(0.5);
            transform: translate(-50%, 10%) scale(0.5);
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .hotspot-point svg {
    opacity: 0;
    color: #cf00f1;
    font-size: 1.4em;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  .hotspot-point:before, .hotspot-point:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
  }
  .hotspot-point:before {
    z-index: -1;
    border: 0.15em solid rgba(255, 255, 255, 0.9);
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transition: opacity .2s, -webkit-transform .25s;
    transition: opacity .2s, -webkit-transform .25s;
    transition: transform .25s, opacity .2s;
    transition: transform .25s, opacity .2s, -webkit-transform .25s;
  }
  .hotspot-point:after {
    z-index: -2;
    background: #fff;
    -webkit-animation: wave 3s linear infinite;
            animation: wave 3s linear infinite;
  }
  .hotspot-point:hover span {
    -webkit-animation: none;
            animation: none;
    background: #fff;
  }
  .hotspot-point:hover span:after {
    opacity: 1;
    -webkit-transform: translate(-50%, 0) scale(1);
            transform: translate(-50%, 0) scale(1);
  }
  .hotspot-point:hover svg {
    opacity: 1;
  }
  .hotspot-point:hover:before {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation: borderColor 2s linear infinite;
            animation: borderColor 2s linear infinite;
  }
  .hotspot-point:hover:after {
    -webkit-animation: none;
            animation: none;
    opacity: 0;
  }
  
  .hotspots-enter-active {
    -webkit-transition: all .5s 1s;
    transition: all .5s 1s;
  }
  
  .hotspots-leave-active {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  
  .hotspots-enter, .hotspots-leave-to {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  
  @-webkit-keyframes pulse {
    0%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  @-webkit-keyframes borderColor {
    0% {
      border-color: #fff;
    }
    50% {
      border-color: #cf00f1;
    }
    100% {
      border-color: #fff;
    }
  }
  @keyframes borderColor {
    0% {
      border-color: #fff;
    }
    50% {
      border-color: #cf00f1;
    }
    100% {
      border-color: #fff;
    }
  }
  @-webkit-keyframes wave {
    0% {
      opacity: 1;
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(2);
              transform: scale(2);
    }
  }
  @keyframes wave {
    0% {
      opacity: 1;
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(2);
              transform: scale(2);
    }
  }
  .hotspot-details {
    --top: 0;
    --left: 0;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: clip-path;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .hotspot-details.is-loaded .hotspot-details__content {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .hotspot-details.is-loaded .hotspot-details__nav-item {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .hotspot-details.is-loaded .hotspot-details__nav-item:nth-child(2) {
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
  }
  .hotspot-details.is-loaded .hotspot-details__nav-item:nth-child(3) {
    -webkit-transition-delay: 225ms;
            transition-delay: 225ms;
  }
  .hotspot-details__left, .hotspot-details__right {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 169, 241, 0.8);
    will-change: background;
  }
  .hotspot-details__left {
    -webkit-clip-path: polygon(0 0, 52.1% 0, 47.1% 100%, 0% 100%);
            clip-path: polygon(0 0, 52.1% 0, 47.1% 100%, 0% 100%);
  }
  .hotspot-details__left .hotspot-details__content {
    padding: 0;
  }
  .hotspot-details__right {
    background: rgba(255, 255, 255, 0.8);
    -webkit-clip-path: polygon(52% 0, 100% 0, 100% 100%, 47% 100%);
            clip-path: polygon(52% 0, 100% 0, 100% 100%, 47% 100%);
  }
  .hotspot-details__right .hotspot-details__content {
    position: relative;
    left: 50%;
    padding-left: 2.5em;
  }
  .hotspot-details__content {
    opacity: 0;
    width: 50%;
    height: 100%;
    padding: 4em 2em 2em 2em;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: opacity .3s .3s, -webkit-transform .3s .3s;
    transition: opacity .3s .3s, -webkit-transform .3s .3s;
    transition: opacity .3s .3s, transform .3s .3s;
    transition: opacity .3s .3s, transform .3s .3s, -webkit-transform .3s .3s;
  }
  .hotspot-details__content img {
    width: 80%;
  }
  .hotspot-details__title {
    margin-top: 0;
    font-weight: 300;
    font-size: 24px;
  }
  @media (min-width: 768px) {
    .hotspot-details__title {
      font-size: 38px;
    }
  }
  .hotspot-details__description {
    margin-bottom: 32px;
    font-size: 14px;
  }
  @media (min-width: 768px) {
    .hotspot-details__description {
      font-size: 16px;
    }
  }
  .hotspot-details__price {
    font-size: 38px;
    font-weight: 400;
    color: #00a9f1;
    text-shadow: 1px 1px white;
  }
  .hotspot-details__nav {
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 47%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hotspot-details__nav-item {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
    -webkit-transform: translate(0, 120%);
            transform: translate(0, 120%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .hotspot-details__nav-item:nth-child(2) {
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
  }
  .hotspot-details__nav-item:nth-child(3) {
    -webkit-transition-delay: 225ms;
            transition-delay: 225ms;
  }
  .hotspot-details__nav-item:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  .hotspot-details__nav-item img {
    width: 35px;
    opacity: .8;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, -webkit-transform .2s;
    transition: transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s, -webkit-transform .2s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .hotspot-details__close {
    display: block;
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 2em;
    line-height: 1;
    text-decoration: none;
  }
  .hotspot-details__close:hover, .hotspot-details__close:active {
    color: #000;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .hotspot-details__close:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .detail-enter-active {
    -webkit-animation: detailsReveal 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
            animation: detailsReveal 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .detail-enter-active .hotspot-details__left {
    background: rgba(207, 0, 241, 0.8);
  }
  .detail-enter-active .hotspot-details__right {
    background: rgba(207, 0, 241, 0.8);
  }
  
  .detail-enter-to .hotspot-details__left {
    background: rgba(0, 169, 241, 0.8);
    -webkit-transition: background .3s .2s;
    transition: background .3s .2s;
  }
  .detail-enter-to .hotspot-details__right {
    background: rgba(255, 255, 255, 0.8);
    -webkit-transition: background .3s .2s;
    transition: background .3s .2s;
  }
  
  .detail-leave-active {
    -webkit-animation: detailsReveal 0.8s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) reverse;
            animation: detailsReveal 0.8s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) reverse;
  }
  .detail-leave-active .hotspot-details__left {
    background: rgba(207, 0, 241, 0.8);
    -webkit-transition: background .3s .7s;
    transition: background .3s .7s;
  }
  .detail-leave-active .hotspot-details__right {
    background: rgba(207, 0, 241, 0.8);
    -webkit-transition: background .3s .7s;
    transition: background .3s .7s;
  }
  
  .product-fade-enter-active {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
  }
  .product-fade-enter-active.animated:nth-child(2) {
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
  }
  .product-fade-enter-active.animated:nth-child(3) {
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
  }
  
  .product-fade-leave-active {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
  }
  .product-fade-leave-active.animated:nth-child(2) {
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
  }
  .product-fade-leave-active.animated:nth-child(3) {
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
  }
  
  .product-fade-enter, .product-fade-leave-to {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  
  @-webkit-keyframes detailsReveal {
    0% {
      -webkit-clip-path: circle(0.9em at calc(var(--left) + .9em) calc(var(--top) + .9em));
              clip-path: circle(0.9em at calc(var(--left) + .9em) calc(var(--top) + .9em));
    }
    30% {
      -webkit-clip-path: circle(5vw at 50% 50%);
              clip-path: circle(5vw at 50% 50%);
    }
    100% {
      -webkit-clip-path: circle(130% at 50% 50%);
              clip-path: circle(130% at 50% 50%);
    }
  }
  
  @keyframes detailsReveal {
    0% {
      -webkit-clip-path: circle(0.9em at calc(var(--left) + .9em) calc(var(--top) + .9em));
              clip-path: circle(0.9em at calc(var(--left) + .9em) calc(var(--top) + .9em));
    }
    30% {
      -webkit-clip-path: circle(5vw at 50% 50%);
              clip-path: circle(5vw at 50% 50%);
    }
    100% {
      -webkit-clip-path: circle(130% at 50% 50%);
              clip-path: circle(130% at 50% 50%);
    }
  }
  /*! Flickity v2.0.8
  http://flickity.metafizzy.co
  ---------------------------------------------- */
  .flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus {
    outline: none;
  }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  .carousel {
    height: 100%;
  }
  
  .carousel-cell {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
    will-change: transform, opacity;
  }
  .carousel-cell.is-selected {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: opacity .3s .1s,  -webkit-transform .3s .2s;
    transition: opacity .3s .1s,  -webkit-transform .3s .2s;
    transition: transform .3s .2s,  opacity .3s .1s;
    transition: transform .3s .2s,  opacity .3s .1s,  -webkit-transform .3s .2s;
  }
  