<div id="navigation" xmlns:v-on="http://java.sun.com/jsf/composite" xmlns:v-on="http://java.sun.com/jsf/core"
     xmlns:v-bind="http://java.sun.com/jsf/facelets">
<div class="c-topbar" >
        <div class="container">

            <div class="c-brand">
                <a href="index.html" class="c-logo">
                    <img src="assets/base/img/layout/logos/logo.png" alt="JANGO" class="c-desktop-logo" width="120">
                    <img src="assets/base/img/layout/logos/logo.png" alt="JANGO" class="c-desktop-logo-inverse">
                    <img src="assets/base/img/layout/logos/logo.png" alt="JANGO" class="c-mobile-logo">
                </a>

            </div>
            <nav id = "loginOrCancel" class="c-top-menu">
                <ul class="c-links c-theme-ul">
                    <li>
                        <div id = "goLogin" >
                            <a href="javascript:;" data-toggle="modal" data-target="#login-form" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">会员登录/注册</a>
                        </div>
                        <div id = "onLogin" hidden = "true" >
                            <font>
                                <span >{{nowDate}}{{loginOrCancelUser.username}}&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.html" v-on:click = "cancel()">注销</a></span>
                            </font>
                        </div>

                    </li>

                </ul>
                <ul class="c-ext hide c-theme-ul">
                    <li class="c-lang dropdown c-last">
                        <a href="#">en</a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li class="active"><a href="#">English</a></li>
                            <li><a href="#">German</a></li>
                            <li><a href="#">Espaniol</a></li>
                            <li><a href="#">Portugise</a></li>
                        </ul>
                    </li>
                    <li class="c-search hide">
                        <!-- BEGIN: QUICK SEARCH -->
                        <form action="#">
                            <input type="text" name="query" placeholder="search..." value="" class="form-control" autocomplete="off">
                            <i class="fa fa-search"></i>
                        </form>
                        <!-- END: QUICK SEARCH -->
                    </li>
                </ul>
            </nav>
            <div style="text-align:center; color:rgb(15, 163, 161);font-weight: bold;">
                <span style="font-size:36px;">盛韬酒店全球供应生态链</span><br><span style="font-size:16px;">Shengtao Hotel Global Supply Chain
						Platform
					</span>
            </div>
        </div>
    </div>


    <div  class="c-navbar">
        <div class="container">
            <!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
                <!-- END: BRAND -->
                <!-- BEGIN: QUICK SEARCH -->
                <form class="c-quick-search" action="#">
                    <input type="text" name="query" placeholder="输入关键字" value="" class="form-control" autocomplete="off">

                    <span class="c-theme-link" autocomplete="on">&times;</span>
                </form>
                <!-- END: QUICK SEARCH -->
                <!-- BEGIN: HOR NAV -->
                <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- BEGIN: MEGA MENU -->
                <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
                <nav id = "nav" class="c-mega-menu c-pull-right c-mega-menu-light c-mega-menu-light-mobile">
                    <ul class="nav navbar-nav c-theme-nav">
                        <!--页面抬头导航初始化Start-->
                        <li v-for="menus in allMenus" v-bind:id = "menus.id" class="c-menu-type-classic" v-once>
                            <a v-bind:href="menus.url" class="c-link dropdown-toggle"><span v-text="menus.name"></span><span class="c-arrow c-toggler"></span></a>


                            <ul v-if = "menus.subMenus != null" class="dropdown-menu c-menu-type-classic c-pull-left">
                                <li v-for = "vhotel in menus.subMenus" class="dropdown-submenu">
                                    <a v-bind:href = "vhotel.url" ><span v-text="vhotel.name"></span><span class="c-arrow c-toggler"></span></a>
                                </li>


                             </ul>

                        </li>
                        <!--页面抬头导航初始化End-->
                        <li class="c-search-toggler-wrapper">
                            <a href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>
                        </li>
                    </ul>
                </nav>
                <!-- END: MEGA MENU -->
                <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- END: HOR NAV -->
            </div>
        </div>
    </div>
</div>


